.bannerWrap {
  position: relative;
  width: 100%;
  aspect-ratio: 1200 / 480;
  margin-top: 44px;
  border-radius: 20px;
  overflow: hidden;
}

.bannerImage {
  object-fit: contain;
}

@media (max-width: 1200px) {
  .bannerWrap {
    /* aspect-ratio: 16 / 7; */
    aspect-ratio: 1200 / 480;
  }
}

@media (max-width: 640px) {
  /*The desktop size is unchanged because this rule only applies under 640px*/
  .bannerWrap {
    /* height: clamp(260px, 82vw, 380px); */
    height: clamp(220px, 52vw, 230px);
    /* height: clamp(320px, 100vw, 480px); */

    aspect-ratio: auto;
    margin-top: 28px;
  }

  .bannerImage {
    object-fit: cover;
    object-position: center;
  }
}
